@tailwind base;
@tailwind components;
@tailwind utilities;

@import './fonts/CSS/font.css';

@import '@/shared/ProductCard/ProductCard.css';

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: rgb(250, 250, 250);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
